{% extends "layout_admin.html" %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}

    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <h1 class="text-center">Howdy! {{ name['name'] }}</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="text-white text-center col-sm-4 bg-primary p-5">
                <h2>{{ users['n_users'] }}<br>Users</h2>
            </div>
            <div class="text-white text-center col-sm-4 bg-success p-5">
                <h2>{{ recipes['n_recipes'] }}<br>Recipes</h2>
            </div>
            <div class="text-white text-center col-sm-4 bg-warning p-5">
                <h2>{{ ingredients['n_ingr'] }}<br>Ingredients</h2>
            </div>
        </div>
        <div class="row">
            <div class="text-white text-center col-sm-4 bg-dark p-5">
                <h2>{{ origins['n_ori'] }}<br>Ingredient origins</h2>
            </div>
            <div class="text-white text-center col-sm-4 bg-info p-5">
                <h2>{{ categories['n_cat'] }}<br>Categories</h2>
            </div>
            <div class="text-white text-center col-sm-4 bg-danger p-5">
                <h2>{{ unit['n_unit'] }}<br>Measurement Units</h2>
            </div>
        </div>
    </div>


{% endblock %}
