/* Size for brand */
.navbar {
  /* position: fixed; */
  transition: 1s;
}

nav .navbar-brand {
  font-size: xx-large;
}

.nav li:after {
  content: "";
  display: block;
  border-bottom: 2px solid #38fd07;
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}

.nav li:hover:after {
  transform: scaleX(1);
}

.para {
  min-height: 500px;
}

/* Colors for brand */
nav .navbar-brand .blue {
  color: #537fbe;
}
nav .navbar-brand .red {
  color: #ea433b;
}
nav .navbar-brand .yellow {
  color: #f5b82e;
}
nav .navbar-brand .green {
  color: #2e944b;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.covered {
  position: relative; /* make a new "render context", so absolute positioning is relative to this parent container */

  padding: 30px; /* only needed for this demo */
}

.covered-img {
  background: url("/static/img/bg1.jpeg");
  opacity: 0.25;

  background-size: cover; /* cover will scale the image so that the smallest dimension = the widest dimension of the box */
  background-position: center; /* vs the top-left that is default */

  position: absolute; /* take me out of the render context! let me define my own positioning */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* this could also work with width:100%; height:100%;, but is simpler */
}

/* .bg-container {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  
} */
.text-small {
  font-size: 85%;
}

.text-big {
  font-size: 200%;
}

.divider1 {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.div.spacing {
  height: 5rem;
}

.card-size {
  width: 100%;
  height: 100%;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* label:hover{
  background-color: blueviolet;
} */

.rounded-img {
  border-radius: 8px;
}
