{% extends "layout_admin.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="container-fluid mb-3">
    <h2 class="text-center">Edit Category</h2>
    <form action="/admin/categories/{{ categories['id'] }}/edit" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" value="{{ categories['category'] }}" id="category" name="category" type="text">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary form-control" type="submit">Edit</button>
        </div>
    </form>
</div>
{% endblock %}
