{% extends "layout.html" %} {% block title %} Member Dashboard {% endblock %} {%
block main %} {% with messages = get_flashed_messages() %} {% if messages %}
<ul class="flashes">
  {% for message in messages %} {% endfor %}
</ul>
{% endif %} {% endwith %}
<div
  class="bg-warning p-2"
  style="
    --bs-bg-opacity: 0.1;
    border: 0.5px solid tomato;
    border-radius: 5px;
    box-shadow: 10px 10px 15px tomato;
  "
>
  <h1 class="text-center">Howdy! {{ name['name'] }}</h1>
</div>

<div class="container mt-5">
  <div class="row">
    <h2 class="text-center">Search for recipes</h2>
    <h5 class="text-center mt-3">Tell us which ingredient(s) you have...</h5>
    <form action="/dashboard" method="post" enctype="multipart/form-data">
      <div class="col-md-12 mt-3">
        <div style="display: flex; flex-wrap: wrap">
          {% for ingredient in ingredients %}
          <div
            style="
              background-color: khaki;
              margin: 1px 1px 1px 1px;
              padding: 2px;
              border-radius: 15%;
            "
          >
            <input
              type="checkbox"
              name="ingredients"
              id="{{ ingredient['name'] }}t"
              value="{{ ingredient['id'] }}"
              class="form-check-input mb-2"
            /><span> &nbsp;</span>
            <label class="form-check-label" for="ingredient">
              {{ ingredient['name'] }}</label
            >&nbsp;
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="form-group mt-3">
        <button
          class="btn btn-success form-control"
          type="submit"
          value="submit"
        >
          Search
        </button>
      </div>
    </form>
  </div>
  <div class="container-lg mt-3">
    <h2>Latest Recipes</h2>
    <div class="row mt-2">
      {% for latest_recipe in latest_recipes %}
      <div class="col-lg-3 mt-2">
        <div class="card" style="width: 100%">
          <img
            src="/static/uploads/{{ latest_recipe['image'] }}"
            class="card-img-top card-size"
            alt="IoT course thumbnail"
          />
          <div class="card-body">
            <h5 class="card-title">{{ latest_recipe["recipe_name"] }}</h5>
            <p class="card-text">
              {{ latest_recipe["description"]|truncate(100) }}
            </p>
            <a
              href="/recipe/show/{{ latest_recipe['id'] }}"
              class="btn btn-primary"
              >View More</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="spacing p-4"></div>
  </div>
</div>

{% endblock %}
