{% extends "layout.html" %} {% block title %} {{ user['name'] }} {% endblock %}
{% block main %}
<div class="container">
  <h1 class="text-center my-4">Hey, {{ user["name"] }}</h1>
  <div class="row">
    <h6>Edit Profile</h6>
    <div class="col-md-12">
      <form action="/profile" class="form-horizontal" method="POST">
        <div class="form-group my-2">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            value="{{ user['username'] }}"
          />
        </div>
        <div class="form-group my-2">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            value="{{ user['name'] }}"
          />
        </div>
        <div class="form-group my-2">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            value="{{ user['email'] }}"
          />
        </div>
        <label>Change Password</label>
        <div class="form-group my-2">
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Type your new password"
          />
        </div>

        <div class="form-group my-2">
          <input
            type="password"
            name="confirmation"
            class="form-control"
            placeholder="Re-type your new password"
          />
        </div>
        <div class="form-group mt-2 mb-4">
          <button
            class="btn btn-danger form-control"
            type="submit"
            value="submit"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
