{% extends "layout_admin.html" %}

{% block title %}
    User management
{% endblock %}

{% block main %}

<div class="container-sm mt-3">
    <h2 class="text-center">List of Members</h2>
    <div class="mb-5"></div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Member ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user["id"] }}</td>
                <td>{{ user["name"] }}</td>
                <td>{{ user["username"] }}</td>
                <td>{{ user["email"] }}</td>
                <td>
                    <a href="/admin/users/{{ user['id'] }}/edit" class="btn btn-warning">Edit</a>
                    <a href="/admin/users/{{ user['id'] }}/delete" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
